<h1>my Shopping-List</h1>

<h3>Fill product details:</h3>

<label> ID:
  <input #pId type="number" name="id">
</label>

<label> Product Name::
  <input #productName type="text" name="productName">
</label>
<label> Quantity:
  <input #quantity type="number" name="quantity">
</label>

<label> found:
  <input (change)="toggleEditable($event)" type="checkbox" name="found" #found>
</label>
<br>
<hr>
<button (click)="getProducts()">Get All products</button>
<button (click)="getProductByName(productName.value)">Get Product by name</button>
<button (click)="createProduct(productName , quantity)">Create product</button>
<button (click)="updateProduct(pId.value , productName.value , quantity.value)">UPDATE</button>
<button (click)="deleteProduct(pId.value)">DELETE BY ID</button>

<hr>

{{ newProduct | async | json }}

<div *ngFor="let product of products | async">
  <h1 abeOnProductHover [ngClass]="{
       'red': product.found === 0,
       'green': product.found === 1
  }">
    {{product | json}}
  </h1>
</div>

